.bg {
  background-color: #4e4cc4;
  height: 90vh;
}
.p-nav {
  padding-left: 2rem;
  height: 8vh;
  background-color: white;
  display: flex;
  margin-bottom: 1rem;
  padding-top: 5px;
  align-items: center;
}

.mini-nav {
  display: flex;
  gap: 25rem;
}
.shipping-info {
  background-color: whitesmoke;
  width: 70%;
  padding: 0.5rem;
  padding-left: 2rem;
  margin-left: 5rem;
  border-radius: 5px;
}
.flex {
  margin-top: 1rem;
  display: flex;
  gap: 50%;
}

.info {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
.edit {
  display: flex;
  margin-left: 7rem;
  flex-direction: row;
}

.payment {
  background-color: whitesmoke;
  width: 70%;
  padding: 0.5rem;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.payment-card {
  display: flex;
  gap: 15rem;
  margin: 0.7rem;
}
.payment-card2 {
  display: flex;
  background-color: white;
  gap: 40rem;
  margin: 0.5rem;
}

.payment-footer {
  display: flex;
  padding: 1rem;
  margin-bottom: 5px;
  background-color: white;
  align-items: center;
  gap: 60%;
  padding-left: 3rem;
}
