.navbar {
  padding-left: 2rem;
  height: 5vh;
  background-color: whitesmoke;
}

.order-page {
  background-color: #4e4cc4;
  height: 85vh;
}

.order {
  background-color: white;
  width: 60%;
  border-radius: 8px;
  margin: 1rem 0rem 2rem 6rem;
  padding: 1rem 1rem 1rem 6rem;
}

.order p {
  font-size: 20px;
  padding: 0.5rem 1rem;
}

.footer-order {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  padding-right: 2rem;
  background-color: white;
}
