.cart-nav {
  padding-left: 2rem;
  height: 8vh;
  background-color: white;
  display: flex;
  padding-top: 5px;
  align-items: center;
}

.cart-body {
  width: 30%;
  margin-top: 1rem;
  margin-left: 3rem;
  border-radius: 3px;
  padding: 1rem;
  background-color: whitesmoke;
}

.cart-page {
  background-color: #4e4cc4;
  height: 83vh;
}

.desc {
  margin-top: 1rem;
}

.btn1 {
  padding: 3px;
}
.order-btn {
  background-color: green;
  border-radius: 3px;
  border: none;
}

.remove-btn {
  background-color: red;
  border-radius: 3px;
  border: none;
}

.cart-footer {
  display: flex;
  padding: 0.5rem;
  gap: 60%;
}
