.products-nav {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
}

.admin-info {
  display: flex;
  flex-direction: row;
  margin-left: 50rem;
  gap: 0.5rem;
}

.it-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.date {
  gap: 1.5rem;
  padding-left: 20rem;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.main-product--content {
  width: 80vh;
  padding: 1rem;
  display: flex;

  gap: 2rem;
}
.mini-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.product-content {
  height: 75vh;
  background-color: #4e4cc4;
}

.mini-items {
  display: flex;
  flex-direction: column;

  height: 60vh;
  margin-bottom: 1rem;
}
.mini-items img {
  height: 100px;
  width: 150px;
  border-radius: 3px;
  margin: 0rem 0.5rem;
}

.spans {
  display: flex;
  gap: 3rem;
  color: whitesmoke;
  margin: 1rem;
}

.estimate h3 {
  color: whitesmoke;
  margin: 2rem;
  margin-left: 3rem;
}

.span1 {
  display: flex;
  gap: 7rem;
  color: whitesmoke;
  margin: 1rem;
}
