.navbar {
  height: 10vh;
  place-items: center;
}

.navbar h3 {
  margin: 20px;
  padding-right: 5rem;
}

.card img {
  width: 300px;
  height: 180px;
  margin-right: 1rem;
}

.sidebar {
  color: black;
}
.card {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.categories-content {
  display: flex;
  background-color: #4e4cc4;
  flex-direction: row;
}

.section {
  margin: 1rem 0.5rem 1rem 2rem;
}
