.report-content {
  background-color: #4e4cc4;
  width: 130%;
  height: 85vh;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  padding-left: 5rem;
  margin: 0.2rem;
  color: white;
}

.cards {
  color: black;
  margin: 3rem;
}
.sales {
  padding: 7rem;
}

.reviews {
  margin: 2rem;
  margin-left: 10rem;
}
