.order-content {
  background-color: #4e4cc4;
  height: 75vh;
  padding: 1rem;
  margin: 0.2rem;
  border-radius: 3px;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 200vh;
  height: 10vh;
  align-items: center;
  margin: 0rem 0rem 0rem 1rem;
}

.infor h3 {
  margin-top: 2rem;
}
.logo {
  display: flex;
  gap: 60rem;
  flex-direction: row;
  align-items: center;
}

.status {
  /* border: 1px solid green; */
  padding: 2rem;
}

.avr {
  display: flex;
  gap: 1rem;
}
.avr img {
  border-radius: 50%;
  height: 30px;
}

.minibar {
  display: flex;
  padding-top: 1rem;
  flex-direction: row;
}

.cards {
  height: 2rem;
  margin: 1rem;
  padding: 0.5rem 0.3rem 0.3rem 0.3rem;
  background-color: whitesmoke;
  border-radius: 4px;
}

.time {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem;
}
/* .date {
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 0rem;
  width: 10vh;
  border: 1px solid red;
} */

.time input {
  height: 40px;
  width: 18px;
  background-color: #4e4cc4;
  border: none;
  color: white;
}

.items {
  display: flex;
  flex-direction: row;
  height: 15rem;
}
