.header-wrapper {
  display: flex;
  height: 10vh;
  background-color: #4e4cc4;
  text-align: center;
  align-items: center;
}

.contact {
  z-index: 1;
}
.quickbuy {
  margin: 0rem 25rem 0rem 2rem;
}
.quickbuy span {
  padding-left: 3rem;
}

.contact {
  padding-top: 10px;
  display: flex;

  align-items: center;
}

.contact span {
  padding-right: 3rem;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animatedButton {
  animation: buttonAnimation 1s infinite;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  border: none;
}
