.login {
  height: 80vh;
}
.admin-form {
  background-color: #3d3d3d;
  height: 70%;
}
.loginBanner {
  margin: 10px;
}
.form-inputs input {
  margin-bottom: 1.5rem;
  /* margin-top: 1rem; */
  padding: 5px 90px;
}
.checkbox {
  display: flex;
  margin-top: 5px;
  align-items: center;
  gap: 5px;
}

.btn {
  width: 30%;
  background-color: blue;
  border: none;
  padding: 5px 20px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 1rem;
}

.sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animatedButton {
  animation: buttonAnimation 1s infinite;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  border: none;
}
